trunk/TopologySet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="topologyset">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="topology">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="topologyid" />
							<xs:element name="topologyrole" />
							<xs:element minOccurs="0" name="buildnumber" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>